* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
  font-size: .9em;
}

a:link, a:visited{
  color: #cc0000;
}

a:hover
{
  color: #ff0000;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #333;
  color: #fff;
}

header .container {
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
}

header .container .logo {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav .nav-link {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0;
  transition: all 0.3s ease;
}
#jumbotron
{

  background-color: #fff;
  text-align: center;
}
#main
{
  background-color: #f4afaf;
}
#main .container {
  padding: 20px;
  line-height: calc(1em + 10px);
}

.services {
  display: flex;
  gap: 15px;
  padding: 15px 0;
}

.service {
  flex: 1;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: bisque; 

}

.why-us {
  display: grid;
  justify-content: space-evenly;
}